@tailwind base;
@tailwind components;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

@responsive {
    .h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 67px;
    }

    .h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
    }

    .h4 {
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
    }

    .h5 {
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
    }

    .h6 {
        font-style: normal;
        font-weight: normal;
        font-size: 21px;
    }

    .body {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
    }

    .small {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }
}



