@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    font-family: 'Montserrat', sans-serif;
}

.h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 67px;
    line-height: 110px;
}

.h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

.h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 30px;
}

.h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120px;
}

.h6 {
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 80px;
}

.body {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.body-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150px;
}

.small {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150px;
}

.small-2 {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150px;
}


